In [1]:
import pandas as pd   # For data manipulation and analysis
import numpy as np    # For numerical operations

In [2]:
df = pd.read_csv("Naukri Jobs Data.csv")

In [3]:
df.shape

(32738, 10)

In [4]:
df.head()

,job_post,company,company_rating,company_review,exp_required,salary_offered,job_location,job_description,required_skills,Posted_as_on_22_5_2022
0,Information Technology Executive,Marriott,4.2,(2907 Reviews),0-3 Yrs,Not disclosed,Bhopal,POSITION SUMMARY Troubleshoot and resolve tech...,Supervisor\nAdministration\nTactical planning\...,5 DAYS AGO
1,Associate Director-Information Technology(SAP),Unacademy,3.4,(544 Reviews),5-15 Yrs,Not disclosed,"Noida, Greater Noida",Support / manage timely delivery of custom dev...,Relationship management\nSAP MM\nPharma\nAnaly...,3 DAYS AGO
2,Lead - Information Technology,EchoIndia,4.0,(20 Reviews),11-13 Yrs,Not disclosed,Delhi / NCR,Experience in designing modern REST APIs that ...,Spring\nDocker\nSystem Design\nPaaS\nMicroserv...,1 DAY AGO
3,Information Technology - Project Manager,Tata International,4.1,(287 Reviews),4-8 Yrs,Not disclosed,Mumbai (All Areas),Should be able to manage a project using vario...,project management\nit projects\ninformation t...,2 DAYS AGO
4,Information Technology Trainee,Stefanini,3.8,(75 Reviews),2-7 Yrs,Not disclosed,Noida,The resource will be expected to cross skill\t...,POP\nTraining\nBasic\nNetworking\nIntern\nIT i...,4 DAYS AGO

In [5]:
df.isnull().sum()

job_post                    0
company                     0
company_rating              0
company_review              0
exp_required                0
salary_offered              0
job_location                0
job_description             0
required_skills             0
Posted_as_on_22_5_2022    186
dtype: int64

In [6]:
df.duplicated().sum()

4753

In [7]:
df.drop_duplicates(inplace=True)

In [8]:
df.shape

(27985, 10)

In [9]:
columns_to_drop = ['company_rating', 'company_review', 'Posted_as_on_22_5_2022']
df = df.drop(columns=columns_to_drop)

In [11]:
df.head()

,job_post,company,exp_required,salary_offered,job_location,job_description,required_skills
0,Information Technology Executive,Marriott,0-3 Yrs,Not disclosed,Bhopal,POSITION SUMMARY Troubleshoot and resolve tech...,Supervisor\nAdministration\nTactical planning\...
1,Associate Director-Information Technology(SAP),Unacademy,5-15 Yrs,Not disclosed,"Noida, Greater Noida",Support / manage timely delivery of custom dev...,Relationship management\nSAP MM\nPharma\nAnaly...
2,Lead - Information Technology,EchoIndia,11-13 Yrs,Not disclosed,Delhi / NCR,Experience in designing modern REST APIs that ...,Spring\nDocker\nSystem Design\nPaaS\nMicroserv...
3,Information Technology - Project Manager,Tata International,4-8 Yrs,Not disclosed,Mumbai (All Areas),Should be able to manage a project using vario...,project management\nit projects\ninformation t...
4,Information Technology Trainee,Stefanini,2-7 Yrs,Not disclosed,Noida,The resource will be expected to cross skill\t...,POP\nTraining\nBasic\nNetworking\nIntern\nIT i...

In [12]:
df.isnull().sum()

job_post           0
company            0
exp_required       0
salary_offered     0
job_location       0
job_description    0
required_skills    0
dtype: int64

In [13]:
import re
import string
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

In [16]:
## Define functions for text cleaning and preprocessing

In [22]:
def clean_text(text):
    # Convert text to lowercase
    text = text.lower()
    
    # Remove special characters and digits
    text = re.sub('[^a-zA-Z]', ' ', text)
    
    # Remove extra whitespaces
    text = re.sub('\s+', ' ', text)
    
    return text

In [23]:
text_columns = ['job_post', 'job_location', 'job_description']

for column in text_columns:
    # Clean text
    df[column] = df[column].apply(clean_text)

In [24]:
df.head()

,job_post,company,exp_required,salary_offered,job_location,job_description,required_skills
0,information technology executive,Marriott,0-3 Yrs,Not disclosed,bhopal,position summary troubleshoot and resolve tech...,Supervisor\nAdministration\nTactical planning\...
1,associate director information technology sap,Unacademy,5-15 Yrs,Not disclosed,noida greater noida,support manage timely delivery of custom devel...,Relationship management\nSAP MM\nPharma\nAnaly...
2,lead information technology,EchoIndia,11-13 Yrs,Not disclosed,delhi ncr,experience in designing modern rest apis that ...,Spring\nDocker\nSystem Design\nPaaS\nMicroserv...
3,information technology project manager,Tata International,4-8 Yrs,Not disclosed,mumbai all areas,should be able to manage a project using vario...,project management\nit projects\ninformation t...
4,information technology trainee,Stefanini,2-7 Yrs,Not disclosed,noida,the resource will be expected to cross skill t...,POP\nTraining\nBasic\nNetworking\nIntern\nIT i...

In [25]:
def remove_stopwords(text):
    # Tokenize text
    tokens = text.split()
    
    # Remove stopwords
    stopwords_list = set(stopwords.words('english'))
    filtered_tokens = [token for token in tokens if token not in stopwords_list]
    
    # Join filtered tokens back into text
    filtered_text = ' '.join(filtered_tokens)
    
    return filtered_text

In [26]:
for column in text_columns:
    # Remove stopwords
    df[column] = df[column].apply(remove_stopwords)

In [27]:
df.head()

,job_post,company,exp_required,salary_offered,job_location,job_description,required_skills
0,information technology executive,Marriott,0-3 Yrs,Not disclosed,bhopal,position summary troubleshoot resolve technica...,Supervisor\nAdministration\nTactical planning\...
1,associate director information technology sap,Unacademy,5-15 Yrs,Not disclosed,noida greater noida,support manage timely delivery custom develope...,Relationship management\nSAP MM\nPharma\nAnaly...
2,lead information technology,EchoIndia,11-13 Yrs,Not disclosed,delhi ncr,experience designing modern rest apis scale ho...,Spring\nDocker\nSystem Design\nPaaS\nMicroserv...
3,information technology project manager,Tata International,4-8 Yrs,Not disclosed,mumbai areas,able manage project using various methodologie...,project management\nit projects\ninformation t...
4,information technology trainee,Stefanini,2-7 Yrs,Not disclosed,noida,resource expected cross skill train support mu...,POP\nTraining\nBasic\nNetworking\nIntern\nIT i...

In [29]:
#example for demonstration
remove_stopwords('Hi this is a job finder model')

'Hi job finder model'

In [49]:
# Define the categorical columns
categorical_columns = ['exp_required', 'salary_offered']

# Perform one-hot encoding
df_encoded = pd.get_dummies(df, columns=categorical_columns)

# Print the encoded DataFrame
df_encoded.head()

,job_post,company,job_location,job_description,required_skills,exp_required_0-0 Yrs,exp_required_0-1 Yrs,exp_required_0-10 Yrs,exp_required_0-11 Yrs,exp_required_0-12 Yrs,...,"salary_offered_9,00,000 - 15,00,000 PA.","salary_offered_9,00,000 - 15,00,000 PA. (Including Variable: 10.0%)","salary_offered_9,00,000 - 16,00,000 PA.","salary_offered_9,00,000 - 17,00,000 PA.","salary_offered_9,00,000 - 18,00,000 PA.","salary_offered_9,00,000 - 19,00,000 PA.","salary_offered_9,50,000 - 12,00,000 PA.","salary_offered_9,50,000 - 19,50,000 PA.","salary_offered_90,000 - 2,25,000 PA.",salary_offered_Not disclosed
0,information technology executive,Marriott,bhopal,position summary troubleshoot resolve technica...,Supervisor\nAdministration\nTactical planning\...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,associate director information technology sap,Unacademy,noida greater noida,support manage timely delivery custom develope...,Relationship management\nSAP MM\nPharma\nAnaly...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,lead information technology,EchoIndia,delhi ncr,experience designing modern rest apis scale ho...,Spring\nDocker\nSystem Design\nPaaS\nMicroserv...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,information technology project manager,Tata International,mumbai areas,able manage project using various methodologie...,project management\nit projects\ninformation t...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,information technology trainee,Stefanini,noida,resource expected cross skill train support mu...,POP\nTraining\nBasic\nNetworking\nIntern\nIT i...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [51]:
df.shape

(27985, 7)

In [52]:
df.head()

,job_post,company,exp_required,salary_offered,job_location,job_description,required_skills
0,information technology executive,Marriott,0-3 Yrs,Not disclosed,bhopal,position summary troubleshoot resolve technica...,Supervisor\nAdministration\nTactical planning\...
1,associate director information technology sap,Unacademy,5-15 Yrs,Not disclosed,noida greater noida,support manage timely delivery custom develope...,Relationship management\nSAP MM\nPharma\nAnaly...
2,lead information technology,EchoIndia,11-13 Yrs,Not disclosed,delhi ncr,experience designing modern rest apis scale ho...,Spring\nDocker\nSystem Design\nPaaS\nMicroserv...
3,information technology project manager,Tata International,4-8 Yrs,Not disclosed,mumbai areas,able manage project using various methodologie...,project management\nit projects\ninformation t...
4,information technology trainee,Stefanini,2-7 Yrs,Not disclosed,noida,resource expected cross skill train support mu...,POP\nTraining\nBasic\nNetworking\nIntern\nIT i...

In [53]:
df_encoded.head()

,job_post,company,job_location,job_description,required_skills,exp_required_0-0 Yrs,exp_required_0-1 Yrs,exp_required_0-10 Yrs,exp_required_0-11 Yrs,exp_required_0-12 Yrs,...,"salary_offered_9,00,000 - 15,00,000 PA.","salary_offered_9,00,000 - 15,00,000 PA. (Including Variable: 10.0%)","salary_offered_9,00,000 - 16,00,000 PA.","salary_offered_9,00,000 - 17,00,000 PA.","salary_offered_9,00,000 - 18,00,000 PA.","salary_offered_9,00,000 - 19,00,000 PA.","salary_offered_9,50,000 - 12,00,000 PA.","salary_offered_9,50,000 - 19,50,000 PA.","salary_offered_90,000 - 2,25,000 PA.",salary_offered_Not disclosed
0,information technology executive,Marriott,bhopal,position summary troubleshoot resolve technica...,Supervisor\nAdministration\nTactical planning\...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,associate director information technology sap,Unacademy,noida greater noida,support manage timely delivery custom develope...,Relationship management\nSAP MM\nPharma\nAnaly...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,lead information technology,EchoIndia,delhi ncr,experience designing modern rest apis scale ho...,Spring\nDocker\nSystem Design\nPaaS\nMicroserv...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
3,information technology project manager,Tata International,mumbai areas,able manage project using various methodologie...,project management\nit projects\ninformation t...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,information technology trainee,Stefanini,noida,resource expected cross skill train support mu...,POP\nTraining\nBasic\nNetworking\nIntern\nIT i...,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [56]:
from sklearn.preprocessing import MinMaxScaler

# Get the list of numerical column names
numerical_columns = df_encoded.select_dtypes(include='number').columns.tolist()

# Create a MinMaxScaler instance
scaler = MinMaxScaler()

# Apply Min-Max Scaling to the numerical columns
df_encoded[numerical_columns] = scaler.fit_transform(df_encoded[numerical_columns])

# Display the normalized dataset
df_encoded.head()

,job_post,company,job_location,job_description,required_skills,exp_required_0-0 Yrs,exp_required_0-1 Yrs,exp_required_0-10 Yrs,exp_required_0-11 Yrs,exp_required_0-12 Yrs,...,"salary_offered_9,00,000 - 15,00,000 PA.","salary_offered_9,00,000 - 15,00,000 PA. (Including Variable: 10.0%)","salary_offered_9,00,000 - 16,00,000 PA.","salary_offered_9,00,000 - 17,00,000 PA.","salary_offered_9,00,000 - 18,00,000 PA.","salary_offered_9,00,000 - 19,00,000 PA.","salary_offered_9,50,000 - 12,00,000 PA.","salary_offered_9,50,000 - 19,50,000 PA.","salary_offered_90,000 - 2,25,000 PA.",salary_offered_Not disclosed
0,information technology executive,Marriott,bhopal,position summary troubleshoot resolve technica...,Supervisor\nAdministration\nTactical planning\...,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,associate director information technology sap,Unacademy,noida greater noida,support manage timely delivery custom develope...,Relationship management\nSAP MM\nPharma\nAnaly...,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,lead information technology,EchoIndia,delhi ncr,experience designing modern rest apis scale ho...,Spring\nDocker\nSystem Design\nPaaS\nMicroserv...,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,information technology project manager,Tata International,mumbai areas,able manage project using various methodologie...,project management\nit projects\ninformation t...,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,information technology trainee,Stefanini,noida,resource expected cross skill train support mu...,POP\nTraining\nBasic\nNetworking\nIntern\nIT i...,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [58]:
df_encoded.shape

(27985, 615)

In [60]:
import seaborn as sns
import matplotlib.pyplot as plt

# Perform EDA on categorical variables
categorical_columns = ['exp_required', 'salary_offered']

# Plot the count of each category in categorical columns
for column in categorical_columns:
    plt.figure(figsize=(8, 6))
    sns.countplot(data=df, x=column)
    plt.title(f"Count of {column}")
    plt.xticks(rotation=45)
    plt.show()

# Perform EDA on numerical variables
numerical_columns = ['company_rating']

# Plot the distribution of numerical columns
for column in numerical_columns:
    plt.figure(figsize=(8, 6))
    sns.histplot(data=df_encoded, x=column, kde=True)
    plt.title(f"Distribution of {column}")
    plt.show()

# Perform correlation analysis
plt.figure(figsize=(10, 8))
sns.heatmap(df_encoded.corr(), annot=True, cmap="coolwarm")
plt.title("Correlation Matrix")
plt.show()

ValueError: Could not interpret input 'exp_required'